*{
    margin: 0;
    
    
}
body{
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    padding: 50px;
    justify-content: space-around;
    box-sizing: border-box;
    color: rgb(234, 126, 19);
    
}
.search{
    display:flex;

}
.nav{
    display: flex;
    
}
.nav li a{
    color: rgb(239, 111, 95);
  text-decoration: none;
}
.nav li{
    
    list-style-type: none;
   
    margin-right:40px;

}

.search-btn{
    border-radius: 10px;
}
.section{
    width: 50%;
    margin: auto;
    padding:250px;
}
section{
    width:100%;
    box-sizing: border-box;
    /* background-color: bisque; */
}
.footer{
    /* background-color: yellowgreen; */
    padding: 7px;
    width:100%;
    box-sizing: border-box;
}
.footer1{
    width: 50%;
    margin:auto;
    color: #5dde3d;
}
.section1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 115px;
   width: 80%;
   margin: auto;
  
}
.language-card{
    border: 2px red solid;
    width: 25%;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 10px;
    margin:10px   ;
    color:rgb(238, 148, 232)
}
.language-card h2{
    color: rgb(228, 50, 27);
}
.people img{
    border-radius: 50%;
    
}
.people p{
    color: azure;
}
.people p{
    text-align: center;
}
.section-people{
    display: flex;
    box-sizing: border-box;
    padding:140px
}
.people{
    padding-right: 90px;
}
.cont {
    display: flex;
    justify-content: space-around;
    padding: 140px;
    
}
.main-content{
    font-size: 90px;
    color: aquamarine;
    
}
.btn{
    color: aquamarine;
    background-color:rgb(136, 136, 233) ;
    border-radius: 10px;

}
.btn1{
    background-color:rgb(10, 217, 186) ;
    border-radius: 10px;

}
.btn-content{
    display: flex;
    width: 50%;
    margin: auto;
}

.contact {
    color: #5dde3d;
    width: 10% ;
    height: 50%;
    
    padding:90px;
    border: solid rgb(96, 32, 32);
}

.info{
    color: #23f97c;
   padding: 90px;
   
    border: solid rgb(96, 32, 32);
height:50%;
}